@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #152220;
  --foreground: #171717;
  --swiper-navigation-size: 30px !important;
  --secondary-glow: conic-gradient(
    from 10deg at 50% 50%,
    #017180 0deg,
    #36d1dc 55deg,
    #97b5da 120deg,
    #38ef7d 160deg,
    transparent 360deg
  );

  --third-glow: conic-gradient(
    from 90deg at 50% 50%,
    #ffd35a 0deg,
    #38ef7d 160deg,
    #7ed2da 120deg,
    #8bdce0 55deg,
    transparent 360deg
  );
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pirulen', sans-serif;
}

@font-face {
  font-family: 'Pirulen';
  src: url('../app/fonts/pirulen rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.custom-font {
  font-family: 'Pirulen', sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffff !important;
  font-size: 15px !important;
}

@media screen and (min-width: 1280px) {
  .swiper-button-next,
  .swiper-button-prev {
    scale: 1.5;
  }
}
