.customNext {
  margin-left: 110px;
  position: relative;
}
.customPrev {
  margin-right: 110px;
  position: relative;
}
.buttonDisable {
  opacity: 0.5;
}
.mainContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  contain: paint;
  padding: 150px 90px 0 90px;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    #000000 85%,
    transparent 100%
  );
}

.mainContainer::before,
.mainContainer::after {
  content: '';
  position: absolute;
  z-index: -2;
  top: 100px;
  opacity: 0.8;
}

/* Перший елемент (зелений) */
.mainContainer::before {
  background: #027e6e;
  border-radius: 50%;
  filter: blur(500px);
  width: 25vw;
  height: 25vw;
  right: 200px;
  top: 150px;
  animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

.mainContainer::after {
/* Другий елемент (синій) */
  background: #0f5b55;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  left: 0;
  filter: blur(300px);
  animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

/* Третій елемент (помаранчевий) */
.third {
  position: absolute;
  z-index: -2;
  opacity: 0.8;
  background: #1f7a58; /* Третій колір */
  border-radius: 50%;
  filter: blur(300px);
  margin-left: -200px;
  width: 25vw;
  height: 25vw;
  animation: animateNth 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}
