.glassButton {
  position: relative;
  mask-image: linear-gradient(to top, transparent 0%, black 20%);
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 20%);
  overflow: hidden;
  z-index: 1;
}

.glassButton::before,
.glassButton::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  border-radius: 50%;
}

@keyframes animateBefore {
  0% {
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
  50% {
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
  }
  100% {
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
}

@keyframes animateAfter {
  0% {
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
  }
  50% {
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
  100% {
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
  }
}

.glassButton::before {
  background: linear-gradient(135deg, #11998e, #38ef7d);
  width: 75px;
  height: 75px;
  top: 0;
  right: -30px;
  animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  filter: blur(20px);
  -webkit-filter: blur(20px);
}

.glassButton::after {
  background: linear-gradient(135deg, #ff9f1c, #6b42dd);
  width: 75px;
  height: 75px;
  top: -30px;
  right: -30px;
  animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  filter: blur(20px);
  -webkit-filter: blur(20px);
}
