/* HeaderVideo.module.css */

.headerContainer {
  position: relative;
  mask-image: linear-gradient(to top, transparent 0%, black 20%);

}

.headerContainer::before,
.headerContainer::after {
  content: '';
  position: absolute;
  z-index: -2;
  opacity: 0.8;

}

/* Ключевые кадры анимаций */
@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200px) scale(0.8);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateAfter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-250px) scale(1.2);
  }
  100% {
    transform: translateX(0);
  }
}

/* Стили для псевдоэлементов */
.headerContainer::before {
  background: var(--third-glow); /* Замените на ваш цвет или определите переменную */
  border-radius: 50%;
  margin-left: -200px;
  filter: blur(90px);
  width: 50vw;
  height: 50vw;
  top: calc(50vh - 50vw / 2);
  left: calc(50vw);
  animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

.headerContainer::after {
  background: var(--secondary-glow);
  width: 500px;
  height: 700px;
  border-radius: 50%;
  filter: blur(90px);
  top: calc(50vh - 50vw / 2);
  left: calc(50vw - 50vw / 2);
  animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

@media screen and (min-width: 1024px) {

}

.button {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #11998e, #38ef7d);
  transition: background 0.3s ease-in-out;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1.25rem;
  letter-spacing: 0.025em;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  background: linear-gradient(to right, #348f50, #56b4d3);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
}

.button:hover::before {
  opacity: 1;
}

.button .buttonText {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 12px 28px;
  }
}
