.cases {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    #080808 35%,
    #080808 100%
  );
  z-index: 1;
}
