.cases {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh + 300px);
    /*background-image: linear-gradient(to bottom, transparent, #1c1c1c 10%, #0c0c0c 20%, transparent 50%, #0c0c0c 80%, #1c1c1c 90%, transparent);*/
    z-index: 1;
}